QScrollBar:vertical {
    width: 12px;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}
QScrollBar::handle:vertical {
    background: rgb(200,200,200);
    border: 0px;
    border-radius: 6px;
    min-height: 15px;
}
QScrollBar::sub-line:vertical {
    background-color: white;
    height: 12px;
    subcontrol-position: top;
}
QScrollBar::add-line:vertical {
    background-color: white;
    height: 12px;
    subcontrol-position: bottom;
}